
# IDE/editor config
.vscode/
.idea/
*.code-workspace
*.swp
*.swo
*.tmp
*.bak

# Build output (tutte le cartelle target)
target/
**/target/

# File temporanei di Cargo
**/*.rs.bk

# File di sistema/macOS
.DS_Store

# File di test temporanei
tests/tmp/
**/tmp/

# Blocca file lock solo se non vuoi versionarlo (opzionale)
# Cargo.lock
**/remote-fs
**/database